body {
	margin: 0;
	padding: 0;
	/*background-color: black;*/
  background-image: url('./nepal-mountain-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.top-bar {
	display: 'flex';
	background-color: blue;
	width: 100%;
}

.main-header {
	text-align: center;
	color: red;
	margin: 0;
}

.main-content-container {
	display: flex;
	width: 100%;
}

.image {
	width: 100%;
	height: 75%;
}

.weather {
	color: red;
}

.main-content-container {
	max-height: 100px;
}

"nepal-mountain-1.jpg"